@import "styles/partials/_colors.scss";
@import "styles/partials/_tag.scss";

.evidence {
  user-select: "none";
  padding: 1rem;
  border-radius: 10px;

  > div {
    margin-bottom: 0.2rem;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    color: $grey-6;
    font-size: 0.8rem;
    flex-grow: 1;
  }

  &__icon {
    font-weight: bolder;
    color: white;
    background-color: $grey-6;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    align-self: flex-end;
  }

  &__quote {
    font-size: 0.8rem;
  }

  &__info {
    display: flex;
    justify-content: center;
    color: $grey-6;
    margin-right: 0.5rem;

    &:hover {
      color: $salmon-1;
      cursor: pointer;
    }
  }
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
