@import "styles/partials/_colors.scss";
@import "styles/partials/_tag.scss";
@import "styles/partials/_userIcon.scss";

.evidence {
  user-select: "none";
  padding: 1rem;
  border-radius: 10px;

  > div {
    margin-bottom: 0.2rem;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__title {
    color: $grey-6;
    font-size: 0.8rem;
    flex-grow: 1;
  }

  &__icon {
    @extend .userIcon;
    align-self: flex-end;
  }

  &__quote {
    font-size: 0.8rem;
  }

  &__info {
    display: flex;
    justify-content: center;
    color: $grey-6;
    margin-right: 0.5rem;

    &:hover {
      color: $salmon-1;
      cursor: pointer;
    }
  }
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
