@font-face {
  font-family: Telegraf;
  src: url("../../assets/fonts/Telegraf\ Regular\ 400.otf") format("opentype");
}

@font-face {
  font-family: Telegraf;
  font-weight: bold;
  src: url("../../assets/fonts/Telegraf-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: Telegraf;
  font-weight: 200;
  src: url("../../assets/fonts/Telegraf\ UltraLight\ 200.otf") format("opentype");
}
