@import "./partials/_typography.scss";

body, html {
  font-family: Telegraf;
  margin: 0;
  box-sizing: border-box;
  
  button {
    outline: none;
  }
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
