@import "styles/partials/_colors.scss";
@import "styles/partials/_padding.scss";
@import "styles/partials/_tag.scss";

.searchList {
  box-sizing: border-box;
  min-width: 25rem;
  background-color: white;
  border-right: 1px solid $grey-4;
  border-top: 1px solid $grey-4;
  padding: $page-vertical-padding $page-horizontal-padding;
  overflow-y: auto;

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.searchBar {
  margin-top: $page-vertical-padding;
  margin-bottom: $page-vertical-padding;
  display: flex;
  width: 100%;

  &__title {
    font-size: 0.8rem;
  }

  > input {
    flex: 2;
    border: 1px solid $grey-4;
    padding: 0.5rem;
    border-radius: 4px;
  }
}

.tags {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__title {
    font-size: 0.8rem;
    color: $grey-7;
    margin: 0.2rem 0;
    font-weight: bold;
  }
}

.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    font-size: 0.8rem;
    color: $grey-6;
  }
}

.tag:hover {
  cursor: pointer;
}

.checkboxes {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8rem;
  align-items: center;

  > label {
    font-weight: bold;
    color: $grey-7;
  }

  > :nth-child(2) {
    margin-right: 1rem;
  }
}
