@import "styles/partials/_colors.scss";
@import "styles/partials/_padding.scss";
@import "styles/partials/_userIcon.scss";

.topNavigation {
  height: 10vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding-left: $page-horizontal-padding;
  padding-right: $page-horizontal-padding;
}

.backButton {
  grid-column: 1;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;

  &__arrow {
    margin-right: 1rem;
  }
}

.boardTitle {
  grid-column: 2;
  font-size: 1.2rem;
  justify-content: center;
  font-weight: bold;
}

.users {
  grid-column: 3;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  > div {
    margin-right: 0.2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.backButton, .boardTitle, .users {
  display: flex;
  align-items: center;
}

.icon {
  @extend .userIcon;
}
