@import "styles/partials/_colors.scss";

.columnContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  min-width: 25rem;
  margin: 1rem;
}

.column {
  box-sizing: border-box;
  min-width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}

.sourceColumnContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

.sourceColumn {
  width: 100%;
  min-height: 4rem;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

.columnTitle {
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  > input {
    flex-grow: 1;
    font-size: 0.8rem;
    box-sizing: border-box;
    border: 0;
    padding: 0.5rem 0.5rem;

    &:focus {
      outline: none;
    }
  }
}

.columnStar {
  margin-left: 0.5rem;
  color: $grey-4;
  user-select: none;
  &:hover {
    color: $salmon-1;
    cursor: pointer;
  }
}

.toggleArrow {
  margin-left: 0.5rem;
  user-select: none;
  transition: .1s ease-in-out;
  font-size: 0.8rem;
  &:hover {
    color: $salmon-1;
    cursor: pointer;
  }
}

.evidenceContainer {
  & > * {
    margin-top: 1rem;
  }
}

.numUniqueText {
  text-align: right;
  font-size: 0.7rem;
  color: $grey-5;
  margin-top: 0.5rem;
}
