@import "styles/partials/_colors.scss";
@import "styles/partials/_padding.scss";

.leftList {
  width: 20rem;
  background-color: white;
  border-right: 1px solid $grey-dark;
  border-top: 1px solid $grey-dark;
  padding-left: $page-horizontal-padding;
  padding-right: $page-horizontal-padding;
}

.hide {
  display: none;
}
