@import "styles/partials/_colors.scss";
@import "styles/partials/_padding.scss";

.boardWorkspace {
  display: flex;
  flex-direction: row;
  height: 90vh;
  background-color: $offwhite;
}

.boardColumns {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  background-color: $offwhite;
}
